.game-play {
  width: 1920px;
  height: 1080px;
  padding: 0px;
  background-image: url('../img/bg_jogo.png');
  background-size: cover;
  z-index: 3;
}

.game-board {
  margin: 14px 0 0 98px;
  width: 54%;
  height: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card, .game-tile img {
  width: 150px;
  height: 173px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover, .game-stack img:active {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.game-stack #card-1 {
  position: absolute;
  top: 50px;
  left: 1450px;
  z-index: 7;
}

.game-stack #card-2 {
  position: absolute;
  top: 175px;
  left: 1450px;
  z-index: 6;
}

.game-stack #card-3 {
  position: absolute;
  top: 300px;
  left: 1450px;
  z-index: 5;
}

.game-stack #card-4 {
  position: absolute;
  top: 425px;
  left: 1450px;
  z-index: 4;
}

.game-stack #card-5 {
  position: absolute;
  top: 550px;
  left: 1450px;
  z-index: 3;
}

.game-stack #card-6 {
  position: absolute;
  top: 675px;
  left: 1450px;
  z-index: 2;
}

.game-stack #card-7 {
  position: absolute;
  top: 800px;
  left: 1450px;
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 0.5s ease-in-out;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 0.5s forwards;
}

.card-dragging {
  animation: grow 0.3s forwards;
  opacity: 0; /* Make the card disappear */
}

.card-dragging::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 173px;
  background-color: rgba(0, 0, 0, 0.2); /* Shadow effect */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.2); /* Match the grow animation */
  z-index: 1000;
  pointer-events: none;
}

#life {
  position: sticky;
}

#life.hidden {
  display: none;
}

.game-tile {
  position: absolute;
  width: 150px;
  height: 173px;
}

#tile-1 {
  top: 37px;
  left: 950px;
}

#tile-2 {
  top: 442px;
  left: 956px;
}

#tile-3 {
  top: 855px;
  left: 953px;
}

#tile-4 {
  top: 855px;
  left: 536px;
}

#tile-5 {
  top: 855px;
  left: 120px;
}

#tile-6 {
  top: 442px;
  left: 120px;
}

#tile-7 {
  top: 37px;
  left: 120px;
}

html, body {
  width: 1920px;
  height: 1080px;
  max-height: 1080px;
  background-color: white;
  margin: 0;
}

.game-intro, .game-tutorial, .game-play, .game-game-over, .game-final {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.game-intro {
  z-index: 5;
}

.game-tutorial {
  z-index: 4;
}

.game-game-over {
  z-index: 2;
}

.game-final {
  z-index: 1;
}
